
<nav class="navbar">

  <div class="navbar-container">

    <a
      class="logo"
      routerLink="/loja">
      🖥️ MINHA LOJA
    </a>


    <div class="menu">

      <a
        routerLink="/loja">
        🏠 Início
      </a>

      <a
        routerLink="/lista">
        📦 Produtos
      </a>

      <a
        routerLink="/produto">
        ➕ Cadastrar Produto
      </a>

      <a
        routerLink="/setor-lista">
        🏷️ Setores
      </a>

      <a
        routerLink="/setor-cadastro">
        ➕ Cadastrar Setor
      </a>

      <a
        routerLink="/carrinho">
        🛒 Carrinho
      </a>

    </div>

  </div>

</nav>

